.contacts{
    background: #F3EEFC;
    padding-top: 143px;
    padding-bottom: 64px;
    margin-top: -105px;
    @include media(992){
        margin-top: 0;
        padding: 30px 0;
    }
    &__p{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #666666;
        margin-bottom: 48px;
        @include media(992){
            margin-bottom: 25px;
        }
    }
    &__links{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        @include media(992){
            column-gap: 10px;
        }
    }
}