mixin contacts()
    section.section.contacts 
        .contacts__body.container 
            p.contacts__p Поделиться ссылкой на сайт    
            .contacts__links
                a(href="https://telegram.com").contacts__link 
                    img(src="@img/contacts-1.svg", alt="" draggable="false" loading="lazy")
                a(href="https://facebook.com").contacts__link 
                    img(src="@img/contacts-2.svg", alt="" draggable="false" loading="lazy")
                a(href="https://twitter.com").contacts__link 
                    img(src="@img/contacts-3.svg", alt="" draggable="false" loading="lazy")
                a(href="https://wk.com").contacts__link 
                    img(src="@img/contacts-4.svg", alt="" draggable="false" loading="lazy")
                a(href="https://whatsapp.com").contacts__link 
                    img(src="@img/contacts-5.svg", alt="" draggable="false" loading="lazy")
                a(href="https://ok.ru").contacts__link 
                    img(src="@img/contacts-6.svg", alt="" draggable="false" loading="lazy")
                a(href="https://smile.com").contacts__link 
                    img(src="@img/contacts-7.svg", alt="" draggable="false" loading="lazy") 