mixin features()
    section.section.features 
        .features__body.container 
            h2.features__title Возможности приложения #[br] AgeApp:
            .features__content 
                .features__item
                    .features__img 
                        img(src="@img/features-img-1.png", alt="" draggable="false" loading="lazy")
                    p.features__subtitle На сколько я выгляжу?
                    p.features__p Приложение определит Ваш визуальный возраст и привлекательность. 
                .features__item
                    p.features__subtitle Две точки зрения
                    p.features__p Узнайте на сколько лет выглядите с мужской и женской точек зрения. 
                    .features__img 
                        img(src="@img/features-img-2.png", alt="" draggable="false" loading="lazy")
                .features__item
                    .features__img 
                        img(src="@img/features-img-3.png", alt="" draggable="false" loading="lazy")
                    p.features__subtitle Оцените вашу интуицию
                    p.features__p Угадайте возраст других участников проекта. 
