mixin footer()
    footer.footer
        .footer__body.container 
            .footer__right 
                a(href="index.html").footer__logo #[img(src="@img/logo.png", alt="" draggable="false" loading="lazy")]  App.net 
                p.footer__p © ageapp.net 2013 - 2022. Все права защищены  
            ul.footer__list 
                li.footer__li   
                    a(href="#!").footer__link Политика конфиденциальности 
                li.footer__li   
                    a(href="#!").footer__link Наша группа #[img(src="@img/header-icon.svg", alt="" draggable="false" loading="lazy")] 