mixin intro()
    section.intro   
        .intro__body.container 
            .intro__content 
                p.intro__desc Детектор возраста
                h1.intro__title На сколько лет ты выглядишь?
                p.intro__p Приложение "Мой возраст"
                .intro__img.enable-lg 
                    img(src="@img/intro-phone.png", alt="" draggable="false" loading="lazy")
                .intro__links 
                    a(href="https://appstore.com").intro__link 
                        img(src="@img/intro-appstore.png", alt="" draggable="false" loading="lazy") 
                    a(href="https://googleplay.com").intro__link 
                        img(src="@img/intro-googleplay.png", alt="" draggable="false" loading="lazy") 
                button(type="button").intro__btn Скачать apk для android, huawei
                p.intro__offer Попробовать #[a(href="#!") на этом сайте, онлайн.] Без регистрации, с помощью одного из сервисов.
                .intro__sites 
                    a(href="#!").intro__site 
                        img(src="@img/intro-icon-1.svg", alt="" draggable="false" loading="lazy")
                    a(href="#!").intro__site 
                        img(src="@img/intro-icon-2.svg", alt="" draggable="false" loading="lazy")
                    a(href="#!").intro__site 
                        img(src="@img/intro-icon-3.svg", alt="" draggable="false" loading="lazy")
                    a(href="#!").intro__site 
                        img(src="@img/intro-icon-4.svg", alt="" draggable="false" loading="lazy")
                    a(href="#!").intro__site 
                        img(src="@img/intro-icon-5.svg", alt="" draggable="false" loading="lazy")
            .intro__img.disable-lg 
                img(src="@img/intro-phone.png", alt="" draggable="false" loading="lazy")
            .intro__girl 
                img(src="@img/intro-girl.png", alt="" draggable="false" loading="lazy")
            .intro__boy 
                img(src="@img/intro-boy.png", alt="" draggable="false" loading="lazy")