mixin tests()
    section.section.tests 
        .tests__body.container 
            h2.tests__title Все тесты анонимны и обезличены.
            p.tests__desc Приложение не хранит тестируемые вами фотографии, хранит только те, что вы сами сохраните в приложении на время опроса.
            .tests__content 
                .tests__item
                    .tests__num 
                        span 1
                    p.tests__subtitle Искусственный интеллект для быстрого онлайн анализа.
                    p.tests__p Вам не нужно долго ждать результат.
                    .tests__img 
                        img(src="@img/tests-img-1.png", alt="" draggable="false" loading="lazy")
                .tests__item
                    .tests__img 
                        img(src="@img/tests-img-2.png", alt="" draggable="false" loading="lazy")
                    .tests__num 
                        span 2
                    p.tests__subtitle Подробная статистика
                    p.tests__p Программа оценить предполагаемый возрнаст и привлекательность на основе оценки других пользователей.
                .tests__item
                    .tests__num 
                        span 3
                    p.tests__subtitle Настраиваемые #[br] уведомления.
                    p.tests__p Получайте уведомления, чтобы быть в крусе своих оценок.
                    .tests__img 
                        img(src="@img/tests-img-3.png", alt="" draggable="false" loading="lazy")
                .tests__item
                    .tests__img 
                        img(src="@img/tests-img-4.png", alt="" draggable="false" loading="lazy")
                    .tests__num 
                        span 4
                    p.tests__subtitle Скачать приложение для персонального компьютера.
                    p.tests__p Хотите попробовать приложение на ПК? Нет ничего проще. Просто скачайте!